<h1 class="text-3xl font-bold text-center">Recommendations </h1>

<tui-carousel
    [draggable]="true"
    [itemsCount]="3"
    [(index)]="index"
>
    <ng-container *ngFor="let product of recommendations; let i = index">
        <img
            *tuiItem
            [alt]="product.title"
            draggable="false"
            [src]="product.thumbnail"
            [style.width.px]="150"
            [style.height.px]="150"
            [style.objectFit]="'contain'"
            [style.borderRadius.px]="10"
            [style.margin.px]="10" 
            [style.boxShadow]="'0 2px 10px rgba(0, 0, 0, 0.1)'" 
            [style.cursor]="'pointer'"
            class="item"
            [class.item_active]="i === index + 1"
        />
    </ng-container>
</tui-carousel>